<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @identity_document_type.description %>
</p>


<%= link_to 'Edit', edit_identity_document_type_path(@identity_document_type) %> |
<%= link_to 'Back', identity_document_types_path %>
